#body {
	margin: 20%;
}

body {
    font-family: Montserrat;
}

.score-overview-container h1, .next-steps-container h1 {
    font-size: 30px;
}

.score_breakdowns h2, .normative-data h2, .previous-score-container h2 {
    font-size: 25px;
}

.normative-data h2, .previous-score-container h2 {
    text-align: center;
}

h3 {
    font-size: 2em;
}

.h3 {
    font-size: 1em;
    text-align: center;
}

/*------------------- Scales -------------------*/
.scale {
    position: relative;
}

.scale-marker {
    position: absolute;
    border-radius: 100px;
    text-align: center;
    background-color: #043A5E;
    color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

/*------------------- Content Boxes -------------------*/
.content-box {
    background-color: #989898;
    color: white;
    border-radius: 3px;
    padding: 15px 20px;
}


/*------------------- Score Overview  -------------------*/
#good-block, #mild-block, #moderate-block, #severe-block {
    height: 80px;
}

#overall-score-container {
    height: 60px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.block-label {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

/*------------------- Data Analysis -------------------*/
.data-analysis-content {
    display: none;
}



/*------------------- Compare Against Previous Scores -------------------*/
.previous-score-container {
    padding: 15px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#previous-scores-graph-container {
    flex-grow: 1;
    padding: 20px;
    padding-bottom: 10px;
}

/*------------------- Score in comparison to normative data Section -------------------*/
.normative-data {
    margin-top: 20px;
}

#good-block-breakdown, #mild-block-breakdown, #moderate-block-breakdown, #severe-block-breakdown {
    height: 50px;
}

#breakdown-score-container, #breakdown2-score-container, #breakdown3-score-container {
    height: 30px;
    width: 40px;
    margin-top: 10px;
}


/*------------------- Possible Next Steps Section -------------------*/
.next-steps {
    margin-top: 30px;
}

.next-steps h1 {
    font-size: 30px;
}

.next-steps-content {
    display: none;
    padding-left: 30px;
}

/*------------------- Coloured Blocks Representing Scores -------------------*/
#good-block, #good-block-breakdown {
    background-color: #99C63E;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#good-block-container, #good-block-breakdown {
    flex-grow: 10; /* Set size relative to other blocks (here using the range of score values as the ratio) */
}

#mild-block, #mild-block-breakdown {
    background-color: #F6DD0B;
}
#mild-block-container, #mild-block-breakdown {
    flex-grow: 5;
}

#moderate-block, #moderate-block-breakdown {
    background-color: #E87000;
}
#moderate-block-container, #moderate-block-breakdown {
    flex-grow: 5;
}

#severe-block, #severe-block-breakdown {
    background-color: #C42A26;
    border-top-right-radius: 3px;    
    border-bottom-right-radius: 3px;
}
#severe-block-container, #severe-block-breakdown {
    flex-grow: 21;
}


/*------------------- Score Container -------------------*/

@media only screen and (max-width: 400px) {
    #blocks {
        margin-left: 5px;
        margin-right: 5px;
    }
}