#body {
	margin: 20%;
}

body {
    font-family: Montserrat;
}

.score-overview-container h1, .next-steps-container h1 {
    font-size: 30px;
}

.score_breakdowns h2, .normative-data h2, .previous-score-container h2 {
    font-size: 25px;
}

.normative-data h2, .previous-score-container h2 {
    text-align: center;
}

h3 {
    font-size: 2em;
}

.h3 {
    font-size: 1em;
    text-align: center;
}


/*------------------- Questionnaire Display -------------------*/
.questionnaire-row {
    margin-top: 10px;
}

.answer-col {
    display: flex;
}

.answer-col > * {
    display: inline-block;
    text-align: center;
    flex: 1 1 0px;
}

.answer-col .form-check, .answer-col .form-check-input {
    margin: 0;
}

/*------------------- Scales -------------------*/
.scale {
    position: relative;
}

.scale-marker {
    position: absolute;
    border-radius: 100px;
    text-align: center;
    background-color: #043A5E;
    color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

/*------------------- Content Boxes -------------------*/
.content-box {
    background-color: #989898;
    color: white;
    border-radius: 3px;
    padding: 15px 20px;
}


/*------------------- Score Overview  -------------------*/
#good-block, #mild-block, #moderate-block, #moderately-severe-block, #severe-block {
    height: 80px;
}

#overall-score-container {
    height: 60px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.block-label {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

/*------------------- Data Analysis -------------------*/
.data-analysis-content {
    display: none;
}



/*------------------- Compare Against Previous Scores -------------------*/
.previous-score-container {
    padding: 15px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;    
    min-height: 400px;
    max-height: 100%;
}

.previous-score-PHQ9-container {
    padding: 15px 30px;
    height: 100%;
    display: flex;
    flex-direction: column; 
    min-height: 200px;
    max-height: 350px;
}

#previous-scores-graph-container {
    flex-grow: 1;
    padding: 20px;
    padding-bottom: 10px;
}

#previous-scores-PHQ9-graph-container {
    flex-grow: 1;
    padding: 5px;
    padding-bottom: 10px;
}

/*------------------- Score in comparison to normative data Section -------------------*/
.normative-data {
    margin-top: 20px;
}

#good-block-breakdown, #mild-block-breakdown, #moderate-block-breakdown, #severe-block-breakdown {
    height: 50px;
}

#breakdown-score-container, #breakdown2-score-container, #breakdown3-score-container {
    height: 30px;
    width: 40px;
    margin-top: 10px;
}


/*------------------- Possible Next Steps Section -------------------*/
.next-steps {
    margin-top: 30px;
}

.next-steps h1 {
    font-size: 30px;
}

.next-steps-content {
    display: none;
    padding-left: 30px;
}


/*------------------- Question Breakdowns -------------------*/
.question_breakdowns {
    margin-left: 20px;
}

.question_breakdowns h2 {
    padding-top: 35px;
}

.question_breakdowns h3 {
    padding-top: 15px;
}

.question_breakdowns p {
    font-size: 0.85em;
}

#info-question9 p {
    margin-bottom: 8px;
}

h3 {
    font-size:  1.1em;
    font-weight: bold;
}

.breakdown-block1, .breakdown-block2, .breakdown-block3, .breakdown-block4 {
    width: 75px;
    height: 50px;
}

.question_breakdowns .flex-row {
    margin-bottom: 20px;
}

#breakdown-question9-container, #breakdown-question10-container {
    height: 30px;
    width: 40px;
    margin-top: 10px;
}


/*------------------- Coloured Blocks Representing Scores -------------------*/
#good-block, #good-block-breakdown, .breakdown-block1 {
    background-color: #99C63E;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#good-block-container, #good-block-breakdown {
    flex-grow: 10; /* Set size relative to other blocks (here using the range of score values as the ratio) */
}

#mild-block, #mild-block-breakdown, .breakdown-block2 {
    background-color: #F6DD0B;
}
#mild-block-container, #mild-block-breakdown {
    flex-grow: 5;
}

#moderate-block, #moderate-block-breakdown, .breakdown-block3 {
    background-color: #E87000;
}
#moderate-block-container, #moderate-block-breakdown {
    flex-grow: 5;
}

#moderately-severe-block, #moderately-severe-block-breakdown {
    background-color: #FF3A00;
}
#moderately-severe-block-container, #moderately-severe-block-breakdown {
    flex-grow: 5;
}

#severe-block, #severe-block-breakdown, .breakdown-block4 {
    background-color: #C42A26;
    border-top-right-radius: 3px;    
    border-bottom-right-radius: 3px;
}
#severe-block-container, #severe-block-breakdown {
    flex-grow: 21;
}


/*------------------- Score Container -------------------*/

@media only screen and (max-width: 400px) {
    #blocks {
        margin-left: 5px;
        margin-right: 5px;
    }
}